<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container  my-5">
  <h1 class="d-flex justify-content-center text-white ">Download YTS YIFY movies: HD smallest size</h1>
  <h6 class=" d-flex justify-content-center text-white m-b 10px" >
    Welcome to the official <b>YTS.MX</b> website. Here you can browse and download YIFY movies in excellent </h6>
  <h6 class=" d-flex justify-content-center text-white  m-b 10px">720p, 1080p, 2160p 4K and 3D quality, all at the smallest file size. YTS Movies Torrents.
  </h6>
  <a class=" d-flex justify-content-center m-b 10px" href="https://yts.mx/blog/yts-mx-is-the-only-new-official-domain-for-yify-movies" title="IMPORTANT - YTS.MX is the only new official domain for YIFY Movies"><b>IMPORTANT - YTS.MX is the only new official domain for YIFY Movies</b></a>

</div>



<div class="row  row-cols-sm-5  d-flex justify-content-center align-items-center g-2">
    <div class="col ">
      <div class="card bg-success-subtle">
        <%= image_tag "/assets/marcin.jpg", class: "card-img-top  ", alt: "" %>
        <div class="overlay">
          <span class="bi bi-star-fill fa-5x text-success "></span>
          <h1 class="title">Batman</h1>
          <h4 class="rating">6.7 / 10</h4>
          <h4 class="type">Action</h4>
          <a href="#" class="btn btn-primary">View Detail</a>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title text-white ">2023</h5>
        <p class="card-text text-white ">Batman</p>
      </div>
    </div>

  <div class="col ">
    <div class="card bg-success-subtle">
      <%= image_tag "/assets/spiderman1.jpg", class: "card-img-top  ", alt: "" %>
      <div class="overlay">
        <span class="bi bi-star-fill fa-5x text-success "></span>
        <h1 class="title">Spiderman</h1>
        <h4 class="rating">6.7 / 10</h4>
        <h4 class="type">Funny</h4>
        <a href="#" class="btn btn-primary">View Detail</a>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-white ">2023</h5>
      <p class="card-text text-white ">Spiderman</p>
    </div>
  </div>

  <div class="col ">
    <div class="card bg-success-subtle">
      <%= image_tag "/assets/dedpol.jpg", class: "card-img-top  ", alt: "" %>
      <div class="overlay">
        <span class="bi bi-star-fill fa-5x text-success "></span>
        <h1 class="title">Dedpol</h1>
        <h4 class="rating">6.7 / 10</h4>
        <h4 class="type">Darama</h4>
        <a href="#" class="btn btn-primary">View Detail</a>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-white ">2023</h5>
      <p class="card-text text-white ">Dedpol</p>
    </div>
  </div>

  <div class="col ">
    <div class="card bg-success-subtle">
      <%= image_tag "/assets/emmanuel.jpg", class: "card-img-top  ", alt: "" %>
      <div class="overlay">
        <span class="bi bi-star-fill fa-5x text-success "></span>
        <h1 class="title">Ironman</h1>
        <h4 class="rating">6.7 / 10</h4>
        <h4 class="type">Sci</h4>
        <a href="#" class="btn btn-primary">View Detail</a>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title text-white ">2023</h5>
      <p class="card-text text-white ">Ironman</p>
    </div>
  </div>

</div>
</body>
</html>


